<!DOCTYPE html>
<html lang="es">

<head th:fragment="cabecera">
    <title>AlmacenSystem</title>    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="keywords" content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive" />
    <meta name="author" content="Codedthemes" />
    <!-- Favicon icon -->
    <link rel="icon" th:href="@{/assets/images/favicon.ico}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- waves.css -->
    <link rel="stylesheet" th:href="@{/assets/pages/waves/css/waves.min.css}" type="text/css" media="all">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap/css/bootstrap.min.css}">
    <!-- waves.css -->
    <link rel="stylesheet" th:href="@{/assets/pages/waves/css/waves.min.css}" type="text/css" media="all">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/icon/themify-icons/themify-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/all.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font-awesome-n -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome-n.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- scrollbar.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery.mCustomScrollbar.css}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
</head>

<body>
    <!-- Pre-loader start -->
    <div th:fragment="precarga">
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
        	
            <nav class="navbar header-navbar pcoded-header" th:fragment="menuSuelto">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <div class="mobile-search waves-effect waves-light">
                            <div class="header-search">
                                
                            </div>
                        </div>
                        <a href="index.html">
                            <img class="img-fluid" th:src="@{/assets/images/logo.png}" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="ti-more"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>
                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- USUARIO ACTIVO -->
						<ul class="nav-right">
							<li class="user-profile header-notification"><a href="#"
								class="waves-effect waves-light"><span sec:authentication="name"></span> - <span sec:authentication="principal.authorities"></span> <i
									class="ti-angle-down"></i>
							</a>
								<ul class="show-notification profile-notification">
									<li class="waves-effect waves-light"><a href="#!"> <i
											class="ti-settings"></i> Settings
									</a></li>
									<li class="waves-effect waves-light"><a
										href="user-profile.html"> <i class="ti-user"></i> Profile
									</a></li>									
									<li class="waves-effect waves-light">
									<!-- <a
										href="auth-normal-sign-in.html"> <i
											class="ti-layout-sidebar-left"></i> Logout
									</a> -->
									<form th:action="@{/logout}" method="post">
										<button class="btn btn-outline-danger btn-block" type="submit"> <i
											class="ti-layout-sidebar-left"></i> Logout</button>
									</form>
									
									</li>
								</ul></li>
						</ul>
						<!-- ------------------------------------------------ -->
					</div>
                </div>
            </nav>
			
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar" th:fragment="menuNavegacion">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header py-5"></div>
                            </div>                            
                            <div class="pcoded-navigation-label">Enlaces</div>
                            <ul class="list-group list-group-flush">                            
                                <li class="list-group-item">
                                    <a th:href="@{/proveedor/}" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="fas fa-truck"></i></span>
                                        <span class="pcoded-mtext"> Proveedores</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                
                                <li class="list-group-item">
                                    <a th:href="@{/marca/}" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="fas fa-keyboard"></i></span>
                                        <span class="pcoded-mtext"> Marcas</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                    </div>
                    </nav>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header" th:fragment = "arriba">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Sistema de Almacen</h5>
                                            <p class="m-b-0">2021</p>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            <!--AQUÍ COMIENZA-->
                                            <div class="col-12">
                                                <h1>HOLA</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-body end -->
                                </div>
                                <div id="styleSelector"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 10]>

<![endif]-->
    <!-- Warning Section Ends -->

    <!-- Required Jquery -->
    <div th:fragment="librerias">
    <script type="text/javascript" th:src="@{/assets/js/jquery/jquery.min.js} "></script>
    <script type="text/javascript" th:src="@{/assets/js/jquery-ui/jquery-ui.min.js} "></script>
    <script type="text/javascript" th:src="@{/assets/js/popper.js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/bootstrap/js/bootstrap.min.js}"></script>
    <!-- waves js -->
    <script th:src="@{/assets/pages/waves/js/waves.min.js}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" th:src="@{/assets/js/jquery-slimscroll/jquery.slimscroll.js}"></script>

    <!-- slimscroll js -->
    <script th:src="@{/assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>

    <!-- menu js -->
    <script th:src="@{/assets/js/pcoded.min.js}"></script>
    <script th:src="@{/assets/js/vertical/vertical-layout.min.js}"></script>

    <script type="text/javascript" th:src="@{/assets/js/script.js}"></script>
    </div>
</body>

</html>